// violet
$primary: #96004C;
$primarybg:#6C1D45;
$secondary: #D39040; 
$secondaryup:#CC852E;
$secondaryhover:#B77729;
$secondaryborder:#D98928;
$black: #000000;
$grey:#707070;
$white:#fff;
$hover:#FBCD1D;

//15px
$extrasmall: 0.80vw;
// ico 20
$smaller: 1vw;

$small: 1.15vw;
// normaltext 26
$normal: 1.25vw;
// subt,biggertxt 32
$large: 1.5vw; 
$larger: 1.8vw; 

// titles 56
$extralage:2.35vw;
// 48px  60px
// $hero:3.15vw;

// 60px
$mobilelarge:26px;
$mobilelargeminus:20px; 
$mobilemedium:17px; 
$mobilesmall:15px;
$mobilemr:30px;
$hover:#fff;  
$extrabold:800;
$bold:700;
$semibold:600;
$medium:500;
$regular:400;
$light:300;
$thin:200;

