@import "variables.scss";

.meetus {
	&__image {
		width: 209px !important;
		height: 206px;
		margin: 0 auto;
	}

	&__data {
		&--name {
			font-weight: $extrabold;
			font-size: $small;
		}

		&--job {
			font-weight: $semibold;
			font-size: $small;
		}

		&--traigning {
			font-weight: $semibold;
			font-size: $extrasmall;
			text-decoration: underline;
		}

	}

}

img.slick-prevslick-arrow2 {
	display: flex;
	position: absolute;
	left: -5%;
	top: 25%;
    cursor:pointer;

}

img.slick-nextslick-arrow2 {
	display: flex;
	position: absolute;
	right: -5%;
	top: 25%;
	cursor:pointer;
}

.slick-dots button {
	display: block;
	height: 0.000001rem;
	width: 2rem;
	padding: 3px;
	border: none;
	border-radius: 0%;
	background-color: #D9D9D9;
	text-indent: -9999px;
    margin-right: 0.3rem;
	width: 17px;
height: 17px;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

// transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.slick-dots li.slick-active button {
	background-color: $secondaryhover;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
	margin-top: 5rem;
}
@media (max-width: 992px) {
.meetus{
	&__data{
		&--name{
font-size: $mobilemedium;
		}
				&--job{
font-size: $mobilemedium;
		}
		&--traigning{
		font-size:$mobilesmall;
		}
	}
}
// .meetus__logosbox.slick-slide {
// 	transform:scale(0.8);
// }
// .meetus__logosbox.slick-slide.slick-active:nth-child(odd){
// 	transform:scale(2)!important;
// }
}