@import "variables.scss";

@media (max-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        position: initial !important;
        right: initial !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: $mobilemedium;
        padding-bottom: 10px;
        padding-top: 10px;
        color: $secondary !important;
        font-weight: $bold;
        text-align: center;
        margin-top: 0rem;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        font-size: $mobilemedium;
        font-weight: $bold;
        padding-bottom: 8px;
        padding-top: 8px;
        text-decoration-color: black;
        color: $secondary !important;
        font-weight: bold;
    }

    hr.navhr {
        color: $black !important;
    }

    .navbar-brand {
        margin-left: $mobilemr;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        z-index: 9999 !important;
    }

    .navbar-toggler {
        border: none !important;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .navbar-nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        left: 0;
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        position: absolute;
            text-align: center;

    }

    .navbar {
        position: fixed !important;
        background-color: #ffff;
        width: 100%;
        z-index: 999999;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom:0;

        &__upper {
            display: none;
        }

    }

    .navbar-expand-lg {
        top: 0px;
            top: 65px;

    }

    .logo {
        max-width: 125px !important;
    }

    .navbar-light .navbar-toggler-icon {
    }
        .btn__nav {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}


}

.navigation{
&__popup{
    position: fixed;
    top:0;
    background-color: $primarybg;
    height: 65px;
    color:$white;
    font-weight: $light;
    width: 100%;
    z-index:99999999;
    }

    }

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        position: fixed !important;
        width: 100%;
        background-color: #fff;
        padding-top: 0px !important;
        z-index: 99998;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-bottom: 1px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        height: 200% !important;
        color: $black !important;
        font-size: $normal !important;
        // font-family: roboto, "Helvetica";
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: $primary !important;
    }

    .navbar-expand-lg .navbar-collapse {
        color: $black;
        font-size: 1.05vw !important;
        background-color: transparent !important;
    }

}

.navbar-collapse {
    position: absolute !important;
    right: 9% !important;
    font-size: $medium;
    position: absolute !important;
    right: 9% !important;
    background-color: transparent;
    color: $black;
    background-color: $white;
}

.nav-item:hover {
    transition: .1s all ease-in-out;
    color: $primary !important;
}

.nav-item:focus {
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
}

.navbar {
    padding-bottom:0;
    &__data {
        color: $white;
        font-size: $small !important;

        &--burger {
            margin-bottom: 0.3rem;
            padding-top: 0.17rem;
        }

        &--second {
            font-weight: 500;
            float: right;
            cursor: pointer;
            position: absolute;
            right: 10.4vw;
        }

    }

}

.btn__nav {
    margin-top: -0.5rem;

}

.dropdowntooltip {
    display: none;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

@media (max-width:1400px) {
}

@media (max-width:1200px) {
}