@import "variables.scss";

.offer {
	&__row {
		background:$primarybg url(/marcus/wp-content/themes/marcus_onehouse/assets/img/pattern.svg);
		background-size: 100%;
		background-position: center;
		background-repeat:no-repeat;
	}
	&__h2{
		color:$white;
	}

	&__info {
		margin: 0 auto;
		max-width: 40%;
		font-weight: $light;
		font-size: $small;
		color:$white
	}

	&__h3 {
		font-size: $normal;
		color:$secondaryup;
		font-weight: $extrabold;
	}

	&__hiddenform {
		display: none;
	}

}

input#adresemail2 {
	padding: 0px 0px;
	margin-top: 5px;
	// width: 358px;
	height: 46px;
	width: 90% !important;
	text-indent: 1rem;
	color: #707070;
	font-size: $small;
	font-weight: $semibold;
	border-radius: 1px;
	background-color: $white;
	border: solid 2px $white;
	margin-right: 5px;
}

label#sbmt {
	margin-left: 13%;
}

textarea {
	min-width: 500px;
	text-indent: 1rem;
	color: #707070;
	font-size: $small;
	font-weight: $semibold;
	padding-top: 1rem;
	    border-radius: 5px;

}

label#chckbx2 {
	font-size: 0.8vw;
	font-weight: 300;
	color: #212529;
	vertical-align: top;
}

input#chckbx2 {
	width: 15px;
	height: 15px;
	vertical-align: top;
	color:$white;
font-size:12px;
font-weight: $light!important;
}
span.wpcf7-list-item-label{
	color:$white;
	    font-size: 12px;
font-weight: $light;
}
@media (max-width:992px) {

.offer{
	&__info{
		font-weight: $light;
		font-size: $mobilemedium;
		max-width: inherit;
		margin-left:$mobilemr;
		margin-right:$mobilemr;
	}
}

input#adresemail2{
	font-size:$mobilemedium;
	font-weight: $light;
	border-radius: 5px;

}
label#chckbx2{		
}
}