@import "variables.scss";

.singleheader {
	background-color: #F6F6F6;
	padding-top: 3rem;
&__wrapper{
background-size: cover;
}

	&__h2 {
					color:$white;

		font-weight: $bold;
		font-size: $extralage;
		max-width: 80%;
	}
	&__textbox{
		    padding-top: 10rem;
			color:$white;

	}

	&__subtitle {
		font-weight: $light;
		font-size: $small;
		max-width: 80%;
	}
		&__info {
		font-weight: $light;
	}

	&__breadcrumb {
		font-weight: $light;
		color: $white !important;
		font-size: $small;
		text-transform: uppercase;
		max-width: 90%;
	}

	&__wrapper {
		max-height: 70vh;
		min-height: 666px
	}

	&__infoxtxt {
		font-size: $small;
		font-weight: $light;
	}

	&__netto {
		font-size: $small;
		font-weight: $semibold;
	}
	&__recentbox{
		    margin-top: 3rem;
	}

	&__recentboxdata {
		&--termin {
			height: 44px;
			width: 244px;
			background-color: #CC852E;
			// border-radius: 9px;
			position: relative;
			color: #ffff;
			margin: 0 auto;
			margin-top: -6%;
		}

		&--termintxt {
			font-weight: $semibold;
			color: $white;
			font-size: $small !important;
			margin-top: 4%;
			margin: 0 auto;
			text-align: center;
		}

		&--title {
			font-weight: $light;
			font-size: $larger;
		}

		&--checks {
			font-size: $small;
			font-weight: $light;
			text-align: left !important;
		}

		&--cenna {
			font-weight: $light;
			font-size: $extralage;
			max-width: 70%;
			// border: solid 2px #F6F6F6;
			background-image: url(/marcus/wp-content/themes/marcus_onehouse/assets/img/znak_wodny.svg);
			background-repeat:no-repeat;
			background-position: center;
		}

		&--additionalinfo {
			font-weight: $medium;
			font-size: $small;
			color:$secondaryhover;
		}

	}

	&__recentdata {
		&--box {
			box-shadow: 0px 3px 6px #00000029;
			border: solid 1px $secondaryhover;
			background-color: $white;
			margin: 0 auto;
			float: right;
    max-width: 30vw;
			position: fixed;
			    max-width: 27vw;
			        transform: translate(44%, 0);
    z-index: 9999999;

		}

	}

}

.breadcrumb {
	font-weight: $light;
    color: $white !important;
		font-size: $small;
		text-transform: uppercase;
		max-width: 90%;
		    cursor: pointer;

}
@media (max-width:992px) {
.singleheader {
	        padding-top: 5rem;

&__wrapper{
	    height: 428px;
min-height: 428px;
max-height: 428px;
}
&__textbox{
	text-align:center;
	    padding-top: 12rem;
	    margin:0 auto;
}
			&__recentbox {
display: none;
}
			&__h2 {
				font-weight: $bold;
				font-size: 28px;
				max-width: inherit;
				      margin-left:$mobilemr;
                text-align:left;
}
&__subtitle {
				max-width: inherit;
				font-size:$mobilemedium;
				font-weight: $light;
                margin-left:$mobilemr;
                text-align:left;

}
		&__breadcrumb {
display: none;
}
			&__info {
				background-color: $white;
				&--textbox{
					margin-left:$mobilemr;
				}
}
}

}