@import "variables.scss";

.tabs {
	&__h2 {
		color: $black;
		font-weight: $light;
		font-size: $larger !important;
	}

	&__tablink {
		color: #212529 !important;
		font-weight: $light;
		font-size: $small;

		:hover {
			border: solid 5px $primary;
		}

	}

	&__imageperson {
		max-width: 177px;
		margin: 0 auto;
		text-align: center;
	}

	&__container {
		width: 793px;
	}

	&__tablink {
		font-weight: $light;

		:hover {
			border: solid 5px $primary;
		}

	}

	&__data {
		&--name {
			// margin: 0 auto;
			// text-align: center;
			font-weight: $bold;
			font-size: $small;
		}

		&--job {
			font-weight: $light;
			font-size: $smaller;
			// margin: 0 auto;
			// text-align: center;
		}

		&--bio {
			font-weight: $light;
			font-size: $smaller;
		}

	}

	&__przestrzen{
		display: grid;
    grid-template-columns: 55% 30%;
	}

}

.tab-content>.tab-pane {
	display: block !important;
}

.tabs__tablink:hover {
	font-weight: bold;
	border-bottom: solid 5px $primary;
	color: $black !important;
}

.tabs__textbg:nth-child(even) {
	background-color: #F9F9F9;
}


.accordion-button:not(.collapsed) {
	background-color: transparent!important;
	color:$black!important;
}
.accordion-button:focus {
    border-color: inherit!important;
    outline: 0;
    box-shadow: none!important;
}

span.rw-ui-info-container {
	display: none !important;
}

.rw-ui-container.rw-dir-ltr .rw-report-link, .rw-ui-container.rw-valign-middle.rw-halign-right .rw-report-link {
	display: none !important;
	float: none !important;
}
.question{
&__box{
	background-color: $primarybg;
}
&__first{
color:$secondaryup;
font-weight: $light;
font-size:$extralage;
}
&__second{
color:$white;
font-weight: $bold;
font-size:$extralage;
}
}

.imagep-0{
// width: 437px;
// height: 580px;
    width: 25rem;

}
.imagep-2{
// 	width: 437px;
// height: 260px;
    width: 25rem;

}
.imagep-4{
    width: 25rem;

}
.imagep-6{
    width: 25rem;
        margin-top: -19rem;


}
@media (max-width:1399px) {
.imagep-0{
    width: 23rem;
}
.imagep-2{
    width: 23rem;
}
.imagep-4{
    width: 23rem;
}
.imagep-6{
    width: 23rem;
     margin-top: -16rem;
}
.tabs__przestrzen {
    grid-template-columns: 50% 30%;
}
.singleheader__recentdata--box{
	max-width: 24vw;
    transform: translate(64%, 0);
}
}
@media (max-width:992px) {

.tabs{
	&__row{
		margin-right: inherit!important;
    padding-right: inherit!important;
    margin-left: inherit!important;
    padding-left: inherit!important;
	}
	&__h2{
		font-size:$mobilelarge!important;
		text-align: center;
		margin:0 auto;
	}
	&__container{
	    width: 100%;
}
		&__tablink{
		font-weight: $regular;
		font-size: $mobilemedium;
	}
	&__data{
		&--bio{
			display: none;
					font-size: $mobilemedium;
					text-align: center;
					margin:0 auto;

		}
			&--name{
		font-size: $mobilemedium;
		}
					&--job{
		font-size: $mobilemedium;
		}
		&--moreinfo{
					font-size: $mobilemedium;
					font-weight: regular;
					color:$primary;
					cursor:pointer;
		}
				&--lessinfo{
					font-size: $mobilemedium;
					font-weight: regular;
					color:$primary;
					cursor:pointer;
					display: none;
		}
	}
	&__col{
		&--person{
			margin:0 auto;
			text-align: center;
		}
	}
	&__rating{
		margin:0 auto;
		text-align: center;
	}
		&__przestrzen{
		margin:0 auto;
		text-align: center;
		    grid-template-columns: 100%;

	}
}
.question{
	&__first{
		font-size:$mobilelarge;
	}
		&__second{
		font-size:$mobilelarge;
	}
}
.znakbg{
			background-image: url(/marcus/wp-content/themes/marcus_onehouse/assets/img/znak_wodny.svg);
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			}

.imagep-0,.imagep-2,.imagep-4,.imagep-6{
    width: 100%!important;
    height: auto!important;
         margin-top: auto!important;
}

.nav-tabs{
    background-color: #F6F6F6!important;
}
#tab7,#tab2,#tab1,#tab3,#tab4{
	margin-left:$mobilemr;
		margin-right:$mobilemr;
}


}