@import "variables.scss";

.why {
	&__row {
		background-color: #F6F6F6;
	}

	&__icons {
		&--title {
			font-weight: $bold;
			font-size: $small;
			color: $primary;
		}

		&--subtitle {
			font-weight: $light;
			font-size: $small;
			margin: 0 auto;
			max-width: 70%;
		}

	}

}

@media (max-width:992px) {
	.why {
		&__icons {
    min-width: 85vw;
			&--title {
				font-size: $mobilemedium;
			}
						&--image{
				    margin: 0 auto;
    text-align: center;
			}
			&--subtitle {
				font-size: $mobilemedium;
			}

		}

	}


button#slick-slide-control40{
	display: none;
}
.whydots button {
	display: block;
	height: 0.000001rem;
	width: 2rem;
	padding: 3px;
	border: none;
	border-radius: 0%;
	background-color: #D9D9D9;
	text-indent: -9999px;
    margin-right: 0.3rem;
	width: 17px;
height: 17px;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

// transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.whydots li.slick-active button {
	background-color: $secondaryhover;
}

.whydots {
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
	margin-top: 5rem;
}
}